@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Bebas+Neue:600);
body div{
  font-family: 'Open Sans', sans-serif, 'Bebas Neue' ;
  font-weight: 600;
  font-size: 40px;
}

div .container {
  width: 1280px;
  margin: 0 auto;
  float: left;
}

div .links {
  margin-right: -60px;
  position: absolute;
}

div .links a {
  text-decoration: none;
  list-style: none;
  float: left;
  color: black;
  padding: 6px;
  font-size: 17px;
  margin-right: 9px;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: border 500ms ease
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;

}
div .links a:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}

div .links a:last-child {
  border-bottom: 0px;
}

div .text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

div .undertext{
  font-size: 25px;
  text-align: center;
  font-family: 'Bebas Neue'
  color: 50%;

  margin-top: 1000px;
}
div .word {
  position: absolute;
  width: 260px;
  opacity: 0;
}

div .letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

div .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

div .letter.behind {
  transform: rotateX(-90deg);
}

div .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.scroll-indicator {
  margin-top: 950px;
  text-align: center;
	position: absolute;
	left: 50%;
	font-size: 50px;

	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 10%; }
	 50%   { top: 15%; }
	 100% { top: 10%; }
}

@keyframes bounce {
	 0% { top: 10%; }
	 50%   { top: 15%; }
	 100% { top: 10%; }
}

.aqua {
  color: #008F95;
}

.papaya {
  color: #E24E42;
}

.blue {
  color: #5bc0eb;
}

.mustard {
  color: #E9B000;
}

.blush {
  color: #EB6E80;
}
